# Puerto en el que correrá el servidor local
PORT=3000

# URL de conexión a la base de datos PostgreSQL (ej. Supabase - Conexión Directa en puerto 5432)
DATABASE_URL="postgresql://postgres:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
